.section-tip {
    @include adaptive-value("font-size", 16, 12, 1);
    font-weight: 500;
    color: $green;
    text-transform: uppercase;
    display: inline-block;
}

.hero {
    height: 650px;
    position: relative;

    @include media ("<tablet") {
        height: 550px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #023428;
        background: linear-gradient(130deg, rgba(2, 52, 40, 0.8) 0%, rgba(2, 52, 40, 0.3) 100%);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #023428;
        background: linear-gradient(260deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%);
        z-index: 1;
    }

    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .section-tip {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;

        &::before {
            content: '';
            width: 16px;
            height: 1px;
            background-color: $white;
        }
    }

    .container {
        height: 100%;
    }

    &_inner {
        position: relative;
        z-index: 5;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
        @include adaptive-value("padding-bottom", 96, 58, 1);

    }

    &_content {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        @include media ("<tablet") {
            flex-direction: column
        }

        h1 {
            @include adaptive-value("font-size", 56, 32, 1);
            font-weight: 700;
            color: $white;

            span {
                color: $orange;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 430px;
            width: 100%;

            @include media ("<tablet") {
                flex-direction: column-reverse;
                max-width: 100%;
            }

            p {
                @include adaptive-value("font-size", 20, 16, 1);
                line-height: calc(28 / 20);
                color: $white;
            }
        }
    }
}

.services {
    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 50, 15, 1);
    text-align: center;

    @include media ("<tablet") {
        text-align: start;
    }

    .section-tip {
        color: $green;
        @include adaptive-value("margin-bottom", 32, 24, 1);
    }

    .section-title {
        @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    .section-description {
        max-width: 1002px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 64, 32, 1);
        font-weight: 500;
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: calc(28 / 20);
        color: $green;
    }

    &_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        @include adaptive-value("margin-bottom", 64, 32, 1);

        @include media ("<tablet") {
            grid-template-columns: 1fr;
        }
    }

    &_item {
        display: flex;
        flex-direction: column;
        text-align: start;
        color: $white;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        @include adaptive-value("padding-bottom", 40, 24, 1);
        @include adaptive-value("padding-top", 40, 24, 1);
        @include adaptive-value("padding-left", 32, 16, 1);
        @include adaptive-value("padding-right", 32, 16, 1);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #023428;
            background: linear-gradient(120deg, rgba(2, 52, 40, 0.9) 0%, rgba(2, 52, 40, 0.51) 100%);
            z-index: -1;
        }

        &-title {
            @include adaptive-value("margin-bottom", 16, 8, 1);
            @include adaptive-value("font-size", 36, 18, 1);
            font-weight: 500;
            line-height: calc(48 / 36);
        }

        &-description {
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: calc(28 / 18);
            max-width: 480px;
            width: 100%;
            flex: 1;
            @include adaptive-value("margin-bottom", 40, 24, 1);
        }

        &-buttons {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    .btn-icon--outline {
        @include media ("<tablet") {
            display: none;
        }
    }
}

.who-we-are {
    @include adaptive-value("padding-top", 50, 50, 1);
    @include adaptive-value("padding-bottom", 50, 15, 1);

    &_content-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
        @include adaptive-value("margin-bottom", 64, 32, 1);

        @include media ("<tablet") {
            flex-direction: column;
        }

        p {
            max-width: 1002px;
            width: 100%;
            color: $green-light;
            font-weight: 500;
            @include adaptive-value("font-size", 40, 24, 1);
            line-height: calc(48 / 40);

            strong {
                color: $green;
                font-weight: inherit;
            }
        }
    }

    .section-tip {
        white-space: nowrap;
    }

    &_content-bottom {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        @include media ("<desktop") {
            grid-template-columns: 1fr;
        }

        &-image {
            max-width: 546px;
            width: 100%;
            height: 420px;
            border-radius: 24px;
            overflow: hidden;

            @include media ("<desktop") {
                max-width: 100%;
            }

            @include media ("<tablet") {
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            height: 100%;
            max-width: 322px;
            width: 100%;
            border-radius: 24px;
            overflow: hidden;
            background-color: $green;
            @include adaptive-value("padding-top", 32, 24, 1);
            @include adaptive-value("padding-bottom", 32, 24, 1);
            @include adaptive-value("padding-left", 24, 16, 1);
            @include adaptive-value("padding-right", 24, 16, 1);
            position: relative;

            @include media ("<desktop") {
                max-width: 100%;
            }

            @include media ("<tablet") {
                height: 200px;
            }

            .card-dots {
                position: absolute;
                left: 0;
                top: 10%;
            }

            .card-title {
                @include adaptive-value("font-size", 20, 16, 1);
                font-weight: 500;
                line-height: calc(24 / 20);
                color: $white;
                @include adaptive-value("margin-bottom", 16, 12, 1);
            }

            .card-value-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 4px;
                position: relative;
                z-index: 1;
                color: $white;
                margin-left: auto;

                .card-value {
                    @include adaptive-value("font-size", 72, 48, 1);
                    font-weight: 700;
                    line-height: calc(76 / 72);
                }

                .card-description {
                    @include adaptive-value("font-size", 20, 16, 1);
                }
            }
        }

        &-text {
            max-width: 432px;
            width: 100%;

            @include media ("<desktop") {
                max-width: 100%;
            }

            p {
                @include adaptive-value("font-size", 20, 16, 1);
                line-height: calc(28 / 20);
                color: $green;
                @include adaptive-value("margin-bottom", 32, 16, 1);
            }

            ul {
                display: flex;
                flex-direction: column;
                @include adaptive-value("gap", 24, 16, 1);
                margin-bottom: 32px;
                padding: 0;
            }

            li {
                display: flex;
                align-items: center;
                gap: 12px;
                line-height: calc(28 / 20);
                color: $green;
                @include adaptive-value("font-size", 20, 16, 1);

                &::before {
                    content: url(../images/check.svg);

                }
            }
        }
    }
}

.about-us {
    @include adaptive-value("padding-top", 50, 50, 1);
    @include adaptive-value("padding-bottom", 50, 15, 1);
    overflow: hidden;

    &_heading {
        display: flex;
        align-items: center;
        justify-content:
            flex-start;
        @include adaptive-value("gap", 56, 16, 1);
        @include adaptive-value("margin-bottom", 96, 60, 1);
        width: 100%;

        h2,
        span.section-title {
            color: #D9E3E2;
            @include adaptive-value("font-size", 140, 48, 1);
            white-space: nowrap;
        }

        &-image{
            @include adaptive-value("width", 120, 60, 1);
            @include adaptive-value("height", 120, 60, 1);
        }
    }

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    &_text {
        max-width: 775px;
        width: 100%;
        color: $green;
        font-weight: 500;
        @include adaptive-value("font-size", 40, 24, 1);
        line-height: calc(48 / 40);

        @include media ("<desktop") {
            max-width: 100%;
        }

        strong {
            color: $green-light;
            font-weight: inherit;
        }
    }

    &_labels {
        display: flex;
        flex-direction: column;
        @include adaptive-value("gap", 64, 32, 1);
        max-width: 430px;
        width: 100%;

        @include media ("<desktop") {
            max-width: 100%;
        }
    }

    &_label {
        display: flex;
        align-items: center;
        gap: 24px;

        &-image {
            @include adaptive-value("min-width", 80, 60, 1);
            @include adaptive-value("min-width", 80, 60, 1);
            @include adaptive-value("height", 80, 60, 1);
            @include adaptive-value("height", 80, 60, 1);
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;

            img {
                width: 55%;
                height: 55%;
            }
        }

        strong {
            color: $orange;
            font-weight: 500;
            @include adaptive-value("font-size", 24, 18, 1);
            line-height: calc(28 / 24);
            @include adaptive-value("margin-bottom", 8, 4, 1);
        }

        p {
            @include adaptive-value("font-size", 20, 16, 1);
            line-height: calc(28 / 20);
        }
    }
}