.header {
    &_top-bar {
        background-color: $green;
        padding: 12px 0;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $white;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;

            span {
                font-weight: 500;
                font-size: 14px;
                @include letter-spacing-percent-to-px(-0.04, 14px);
            }
        }

        &__icon {
            width: 20px;
            height: 20px;
        }
    }

    &__bottom {
        padding: 16px 0;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 24px;
        list-style: none;
    }

    &__menu-link {
        font-weight: 500;
        color: $green;
        font-size: 18px;
        font-weight: 500;
        @include letter-spacing-percent-to-px(-0.04, 18px);
        transition: all 0.3s ease;

        &:hover {
            color: $orange;
            transition: all 0.3s ease;
        }
    }
}